$btnBgColor: #5dc0ff;
//$btnBgColorEnd: darken(#00b8ee, 10);
$btnBgColorEnd: #3ea6fe;
$btnColor: #fff;

$btnBgColorDisabled: #dadada;
$btnBgColorEndDisabled: #dadada;

$warnColor: #F18D1A;
$errorColor: #b91d47;
$successColor: green;